<!--  Features section -->

    <section id="features">
      <div class="container">
        <div class="row">
          <div class="col-md-10 mx-auto feature-title">
            <h2>{{ content.field_feature_header.0 }}</h2>
            <p>{{ content.field_feature_tagline.0 }}</p>
          </div>
        </div>

        <div class="row">
        {{ content.field_feature }}
        </div>
      </div>
    </section>
<!--  End Features section -->

{{ content.field_department_section }}

{{ content.field_doctors }}

{{ content.field_client_testimonial_section }}